
ul{
    list-style-type: none;
}

.buttonscontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:120px
}

.thisspots{
    display: grid;
    column-count: 4;
    margin: 10px;
}
.newspotbutton{
    position: relative;
    bottom: 20px;
    display: grid;
    flex-direction: row;
    background-color: grey;
    color:white;
    box-shadow: 3px 3px black;
}

.mainpic{
    width: 200px;
}

.mainpic:hover{
    cursor: pointer;
}
.newspotbutton:hover{
    cursor: pointer;
}

.updatebutton{
color:white;
background-color: grey;
box-shadow: 3px 3px black;
}

.updatebutton:hover{
    cursor: pointer;
}

.ownedSpots{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    max-width: 1000px;
    margin: 30px 30px 30px 30px
}
