

.reviewform{
    background-color: lightblue;
    border-style: solid;
    border-radius: 10px;
}

.create-review{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 45px auto 1fr;
border-radius: 20px;

}

.reviewHeading{
    grid-row: 1;
    justify-self: center;
    /* display: flexbox; */
}

.commentBox{
    grid-row: 2;
    width: 250px;
    justify-self: center;
    background-color: rgb(152, 213, 233);
}

.commentBox{
    grid-row: 3;
    height: 50px;

}


.starrating{
    grid-row: 4;
    display: grid;
    grid-template-rows: 1fr auto 1fr;


    .starlabel{
        grid-row: 1;
        justify-self: center;
        font-size:xx-large;
    }

    .stars{
       justify-self: center;
       grid-row: 2;

       .favstar{

        width: 58px

       }
    }

    .slider {
        justify-self: center;
        width: 250px;
        grid-row: 3;
        height:20px
    }

}

.subbutton{
    width: 250px;
    height: 40px;
    justify-self: center;
    margin-bottom: 5px;
    box-shadow: 5px 5px grey;
    margin-bottom: 15px;
}
