.spot-form-error{
   color: red;
   font-weight: bold;
   margin: 0px;
}

#nameerror{
   position: relative;
   bottom: 260px;
}


.createSpotForm{
   display: grid;
   flex-direction: column;
   align-self: center;
   align-content: left;
   width: 620px;
   height: 1850px;
   margin:3px

}

.fullForm{

   position: fixed;
   position: relative;
   justify-content: start;
   display: grid;
   row-gap: 10px;
   grid-column: 2;
margin-left: 200px;
margin-right: 200px;
font-weight: 800;
}

.startheader{
   position: absolute;
   position: relative;
   margin:0px;
   bottom: 20px;
}
.disco{
   position: absolute;
   position: relative;
   margin: 0px;
   bottom: 20px;
}
.location{
   position: absolute;
   position: fixed;
   position: relative;
   bottom: -10px;
}

.newspotheading{
   position: absolute;
   position: fixed;
   justify-items: start;
   position: relative;
   margin-left: 10px;

}
.countrylabel{
   position: absolute;
   position: relative;
   bottom: 15px;
}

.country{
   position: absolute;
   position: fixed;
   width: 600px;
   border-style: solid;
   border-color: black;
   background-color: rgb(202, 240, 253);
   position: relative;
bottom: 15px;
height: 20px;

}
.addressdiv{
   position: absolute;
   position: relative;
   bottom: 20px;
}
.addresslabel{
   position: absolute;
   position: relative;
bottom: 10px;

}

.address{
   position: fixed;
   width: 600px;
   border-style: solid;
   border-color: black;
   position: fixed;
   background-color: lightblue;
   position: relative;
   height: 20px;
   bottom: 12px;
}

.city{
   position: absolute;
   width: 350px;
   position: fixed;
   background-color: lightblue;
   position: relative;
   border-style: solid;
   border-color: black;
   height: 20px;
   bottom:10px;

}
.citylabel{
   position: absolute;
      position: relative;
   bottom: 10px;
}

.citydiv{
   position: absolute;
   position: relative;
   bottom: 50px;
}

.statediv{
   position: absolute;
   position: relative;
   bottom: 140px;
   left: 370px;
}

.statelabel{
   position: absolute;
   position: relative;
   top: 10px;
}

.state{
   position: absolute;
position: relative;
   width: 233px;
   border-style: solid;
   background-color: lightblue;
   border-color: black;
   height: 20px;
   top:9px

}

.latlabel{
   position: relative;
   bottom: 2px;
}

.lat{
   position: absolute;
   width: 275px;
   background-color: lightblue;
   border-style: solid;
   position: fixed;
   height: 20px;
   position: relative;
   bottom: 1px;;
   border-color: black;

}

.lnglabel{
   position: absolute;
   position: relative;
   right:15px;
   bottom:-10px
}

.latdiv{
   position: absolute;
   position: relative;
   bottom:150px;
}


.lng{
   position: absolute;
   border-color: black;
   border-style: solid;
   background-color: lightblue;
   height: 20px;
   position: fixed;
   position: relative;
   bottom: -10px;
   right: 18px;
   width: 300px;

}

.lngdiv{
   position: absolute;
   position: relative;
   left:320px;
   bottom: 233px;
}


.line{
   position: absolute;
   position: relative;
   margin: 0px;
   bottom:236px;
   right: 35px;
   /* border-radius: 5px; */
   height: 2px;
width: 600px;
left:0px
}

.desctitle{
   position: absolute;
   position: relative;
   margin: 0px;
   bottom: 220px;
   font-size:xx-large;
}

.desclabel{
   position: absolute;
   position: relative;
   bottom:210px;
   font-size: 12pt;
}


.signupdescription{
   position: absolute;
   background-color: #daf2fa;
   border-style: solid;
   border-color: black;
   height: 250px;
   width: 500px;
   position: fixed;
   position: relative;
   display: flex;
   -ms-flex-align: start;
   bottom:210px;
   text-align:left;
   text-justify:distribute




}

input::placeholder{
   position: absolute;
   position: relative;
   bottom: 125px;

}


.line2{
   position: absolute;
   position: fixed;
   position: relative;
bottom: 250px;
width: 600px;
right: 35px;
height: 2px;
left:0px

}

.spottitletitle{
   position: absolute;
   font-size: xx-large;
   position: fixed;
   position: relative;
bottom: 260px;
}

.spotlabel{
   position: absolute;
   font-size: large;
   position: fixed;
   position: relative;
   bottom: 270px;
   width: 600px;
   flex-wrap: wrap;
}


.spotname{
   position: absolute;
   width: 600px;
   border-color: black;
   border-style: solid;
   background-color: lightblue;
   position: fixed;
   position: relative;
   bottom: 250px;
height: 20px;

}

.line3{
   position: absolute;
   position: fixed;
   position: relative;
   bottom: 250px;
   width: 620px;
   right: 35px;
   height: 2px;
left:0px

}

.spotpricetitle{
   position: absolute;
   font-size: x-large;
   position: fixed;
   position: relative;
   bottom: 250px;
   left:12px
}

.spotpricediv{
   position: absolute;
   position: relative;
   bottom:270px
}

.spotPriceInput{
   position: absolute;
   width: 600px;
   border-color: black;
   border-style: solid;
   background-color: lightblue;
   position: fixed;
   position: relative;
height: 20px;
}

.line4{
   position: absolute;
   position: fixed;
   position: relative;
   bottom: 275px;
   width: 620px;
   right: 3px;
   height: 2px;
left:0px

}

.phototitle{
   position: absolute;
   position: fixed;
   position: relative;
   bottom: 05px;
}

.photolabel{
   position: absolute;
   position: fixed;
   position: relative;
   bottom: 0px;;
}

.photo{
   position: absolute;
position: relative;
   width: 600px;
   height: 20px;
   border-style: solid;
   border-color: black;
   background-color: lightblue;
}

.allpics{
   position: absolute;
   position: relative;
   bottom: 280px;
}

.createspotbutton{
   position: absolute;
   width:150px;
   height: 30px;
position: relative;
left:200px;
bottom: 250px;
background-color: rgba(238, 123, 16, 0.801);
color: white;
font-size: large;
text-align: center;
box-shadow: 5px 5px 5px black;
}

.updatespotbutton{
   position: absolute;
   width:150px;
   height: 30px;
position: relative;
left:200px;
bottom: 250px;
background-color: rgba(238, 123, 16, 0.801);
color: white;
font-size: large;
text-align: center;
box-shadow: 5px 5px 5px black;
}




#countryerror{
   position: absolute;
   position: relative;
   left: 220px;
   justify-self: center;
}

#addresserror{
   position: absolute;
   position: relative;
   bottom: 14px;
   left: 200px;
}

#cityerror{
   position: absolute;
   position: relative;
   bottom: 14px;
   left:110px
}

#stateerror{
   position: absolute;
   position: relative;
   bottom: 4px;
   left: 60px
}

#laterror{
   position: absolute;
   position: relative;
   font-size: 10pt;
   bottom: 11px;
   left: 63px
}

#lngerror{
   position: absolute;
   position: relative;
   font-size: 10pt;
   bottom: 0px;
   left: 63px
}

#descerror{
   position: absolute;

   position: relative;
bottom: 210px;
font-size: 10pt;
left: -3px;
font-size: large;
margin: 0px;
}

#nameerror{
   position: absolute;
   position: relative;
   bottom:230px
}

::placeholder{
   position: absolute;
   font-weight: bold;
}
