
.spotImage {
    width: 200px;
    height: 200px;
}

.spotList {
    /* display: grid; */
    flex-wrap: wrap;
   max-width: 1000px;
   margin-left: 20px;

}

#spotPrice {
    font-weight: bold;
    display: flex;
    width: 40px;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: right;
}

.listings {
    position: relative;
    margin-top: 50px;
   justify-content:space-evenly;
top:80px;
    list-style: none;
display: -webkit-inline-flex;
flex-wrap: wrap-reverse;
}

.spot{
    /* display: flex; */
    flex-direction: column;
    margin: 10px 10px 10px 10px;
flex-direction: row;
background-color: rgb(230, 229, 229);

}

.spotInfo{
    height: auto;
}

#spotAddress{
    margin-top: 5px;
    margin-bottom: 5px;
}

.pernight{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
left:45px;
bottom:25px
}

.listedstarrating{
    display: flex;
    position: relative;
    width:fit-content;
    align-self: center;
    left:160px;
    bottom: 70px;
}

.dot{
    height: 8px;
    align-self: center;
}

.sep{
    position: relative;
    bottom: 40px;
}

.revrating{
    width:310px;
    position:relative;
    top: 168px;
    right: 384px;
    font-size: large;
    font-weight: bold;
}
