
.spotImage {
    width: 200px;
    height: 200px;
}

.spotList {
    /* display: grid; */
    flex-wrap: wrap;
   max-width: 1000px;
   margin-left: 20px;

}

#spotPrice {
    font-weight: bold;
    display: flex;
    width: 40px;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: right;
}

.listings {
    /* position: static; */
    list-style: none;
display: flex;
    gap: 40px;
flex-wrap:wrap;
flex-direction: row;


}

.spot{
    /* display: flex; */
    flex-direction: column;

}

.spotInfo{
    height: auto;
}

#spotAddress{
    margin-top: 5px;
    margin-bottom: 5px;
}

.pernight{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
left:45px;
bottom:25px
}

.listedstarrating{
    display: flex;
    position: relative;
    width:fit-content;
    align-self: center;
    left:160px;
    bottom: 70px;
}
