.spotsPage{
  margin-top: 100px;
    display: grid;
    margin-left: 50px;
    height:auto;
    max-width: 1000px;
   flex-wrap: wrap;
   justify-content: center;
   overflow:unset;
}

.infoBlock{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr auto;
}

.host{
  position: relative;
  top: 25px;
}

.description{
position: relative;
display:inline-block;
inline-size: 400px;
word-wrap: break-word;
flex-wrap: wrap;
text-overflow:clip ;
height:60px;
    grid-row:2;
    left: 8px;
    bottom:40px;
    width:400px;


}

.new{
    position: relative;
    grid-row:3;
  bottom: -2px;
    left: 10px;
}


.reviewofspot{
  font-weight: bold;
}

.reviews{
  margin-bottom: 60px;
}

hr{
  background-color:black;
  height: 1px;
}

.previewimage{
  height: 500px;
  width: 400px;
}

.theImages{
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 400px;
  max-width: 1000px;
}

.pictures{
  display: flex;
  flex-wrap: wrap;

}

.piclist{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  overflow: hidden;
}

.modalbutton {
background-color: grey;
color:white;
box-shadow: 3px 3px  black;
}

.modalbutton:hover{
  cursor: pointer;
}
