.navContainer{
    display: flex;
    background-color: bisque;
flex-direction: row;
height: 100px;


.logo{
    height: auto;
    flex: 1 start;
}

.navlist{
display:flex;
    list-style: none;
flex-wrap: wrap;
}




}
